@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.blob {
  background-image: radial-gradient(
    circle 500px at 400px 30px,
    hsl(197, 57%, 13%),
    hsl(0 0% 0.5%)
  );
}

@media screen and (max-width: 640px) {
  .blob {
    background-image: radial-gradient(
      circle 400px at 80px 50px,
      hsl(197, 57%, 13%),
      hsl(0 0% 0.5%)
    );
  }
}

@media screen and (max-width: 900px) {
  .blob {
    background-image: radial-gradient(
      circle 500px at 100px 50px,
      hsl(197, 57%, 13%),
      hsl(0 0% 0.5%)
    );
  }
}
